@tailwind base;
@tailwind components;
@tailwind utilities;

.font-modak {
  font-family: 'Modak', cursive;
}

.font-shrikhand {
  font-family: 'Shrikhand', cursive;
}

.font-passion {
  font-family: 'Passion One', sans-serif;
}


@layer base {
  body {
    @apply bg-slate-950 text-white;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #09090b;
  /* zinc-950 */
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  /* zinc-800 */
  border-radius: 9999px;
  transition: background-color 0.2s;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
  /* zinc-700 */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #27272a #09090b;
}